<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Some Sorts</title>
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="stylesheet" href="/static/style.css?v=1.0" />
</head>

<body>
  <div class="container" id="welcome">
    <h1>Other Orders</h1>
    <p>
      Other Orders is a tool for sorting text. It offers 27 different sorting mechanism, following several methodologies. New sorts may be added over time, and <a href="https://github.com/antiboredom/other-orders/issues/new?assignees=&labels=&template=new-sort-request.md&title=New+Sort+Suggestion">suggestions/requests</a> are welcome.
    </p>

    <p>
      You may try Other Orders online with your twitter feed, or by
      <a href="https://github.com/antiboredom/other-orders">downloading a python script</a> to run on your own texts.
    </p>

    <p id="sorts-list">
      <b>The following sorts are currently available:</b><br>
      <span>
        Alphabetical
      </span>
      <span>
        Alphabetical by Username
      </span>
      <span>
        Antisemitism as It Is Understood by the Right
      </span>
      <span>
        Approximate Quantity of Shame Expressed
      </span>
      <span>
        Chronologically
      </span>
      <span>
        Cop-Like
      </span>
      <span>
        Crudely Understood Marxism
      </span>
      <span>
        Density of Adjectives
      </span>
      <span>
        Density of Nouns
      </span>
      <span>
        Density of People, Places, Brands, Monetary Values and Dates
      </span>
      <span>
        Density of Verbs
      </span>
      <span>
        Eroticism as an Approximation of Similarity to a Sentence by Anaïs Nin
      </span>
      <span>
        Gothness
      </span>
      <span>
        Kafkaesque-ness
      </span>
      <span>
        Length of Tweet
      </span>
      <span>
        Neoliberalism as Determined by Proximity to Famous Neoliberals
      </span>
      <span>
        Number of Numbers
      </span>
      <span>
        Percentage of Words Which Are Filler Words
      </span>
      <span>
        Quantity of Gendered Words
      </span>
      <span>
        Similarity to @dril I.E. "drilism"
      </span>
      <span>
        Similarity to Values Expressed in TED Talks
      </span>
      <span>
        Total All-Time Posts from User
      </span>
      <span>
        Total Emoji
      </span>
      <span>
        Total Favorites
      </span>
      <span>
        Total Hashtags
      </span>
      <span>
        Total Retweets
      </span>
      <span>
        Use of Language Similar to Language Used by Corporate Social Media Accounts Such as Amazon
      </span>
    </p>

    <p>
      A full description of each sort can also be <a href="/static/keytootherorders.pdf">found here</a>.
    </p>

    <p>
      To begin, <a href="/home">click here to log in with twitter.</a>
    </p>
  </div>

  <style>
    #sorts-list span {
      background-color: #eee;
      display: inline-block;
      padding: 1px;
      margin: 5px 10px 5px 0px;
    }

    #welcome {
      max-width: 800px;
      margin: auto;
      padding: 20px;
    }
  </style>
</body>

</html>
