<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Other Orders</title>
  <meta name="description" content="A tool for sorting text" />
  <meta name="author" content="Sam Lavigne" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Other Orders">
  <meta name="twitter:description" content="A tool for sorting text">
  <meta name="twitter:image" content="https://otherorders.net/static/share.png">
  <meta property="og:title" content="Other Orders" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://otherorders.net" />
  <meta property="og:image" content="https://otherorders.net/static/share.png">
  <meta property="og:description" content="A tool for sorting text" />

  <link rel="stylesheet" href="/static/style.css?v=1.0">
  <script src="/static/vue.js"></script>
</head>

<body>
  <div class="container" id="app">
    <div v-if="loading" id="loading"><p>Loading</p></div>

    <div class="top">
      <h1 class="logo">Other Orders</h1>
      <p>by <a href="https://lav.io">Sam Lavigne</a> / <a href="/">About</a></p>
    </div>

    <div class="sorters">

      Sorts:

      <button v-for="sort in sorts" :class="{sorter: true, selected: sort==sorter}" @click="onSort(sort, $event)">
        <% sort.display %>
      </button>

      <select class="item-order" v-model="reversed">
        <option :value="false">Order from <% sorter.orders[0] %> to <% sorter.orders[1] %></option>
        <option :value="true">Order from <% sorter.orders[1] %> to <% sorter.orders[0] %></option>
      </select>

      <button @click="fetch" class="other-button">Refresh</button>
    </div>

    <table border="1">
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Content</th>
        <th>Favorites</th>
        <th>Retweets</th>
        <th></th>
      </tr>
      <tr v-for="tweet in sortedTweets">
        <td class="date"><% tweet.created_at %></td>
        <td class="username"><a :href="'https://twitter.com/' + tweet.screen_name" target="_blank"><% tweet.name %></a></td>
        <td class="text">
          <p><% tweet.text %></p>
          <a v-for="media in tweet.media" class="thumb" :href=" media.media_url_https" target="_blank"><img :src="media.media_url_https + ':thumb'"></a>
        </td>
        <td class="fav"><% tweet.favorites %></td>
        <td class="retweet"><% tweet.retweets %></td>
        <td class="link"><a :href="'https://twitter.com/' + tweet.screen_name + '/status/' + tweet.tweet_id" target="_blank">&#8627;</a></td>
      </tr>
    </table>
  </div>
  <script src="/static/app.js"></script>
</body>

</html>

