<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Some Sorts</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="/static/style.css?v=1.0">
  <script src="/static/vue.js"></script>
</head>

<body>
  <div class="container" id="app">
    <div v-if="loading" id="loading"><p>Loading</p></div>

    <h1>Other Orders</h1>

    <p><i>Other Orders</i> is a series of ordering mechanisms that can be used to sort twitter streams as well as texts in general. By <a href="https://lav.io">Sam Lavigne</a>.</p>

    <!-- <p>Key:</p> -->

    <!-- <p v&#45;for="s in sorts"> -->
    <!--   <b><% s.display %>:</b> <% s.description %> -->
    <!-- </p> -->

    <!-- <p>How is the internet sorted?</p> -->
    <!-- <p> -->
    <!--   Much can be said about what should come next in a list. On the internet the order of items as they appear on the screen are determined by a variety of sorting algorithms. -->
    <!-- </p> -->
    <!--  -->
    <!-- <p> -->
    <!-- A text is usually sorted semantically, that is, letters, words, sentences, paragraphs and chapters are ordered according to the logic of the author. -->
    <!-- </p> -->

    <hr>

    <div class="sorters">

      Sorts:

      <button v-for="sort in sorts" :class="{sorter: true, selected: sort==sorter}" @click="onSort(sort, $event)">
        <% sort.display %>
        <!-- <span v&#45;if="reversed">From <% sort.orders[1] %> to <% sort.orders[0] %></span> -->
        <!-- <span v&#45;else>From <% sort.orders[0] %> to <% sort.orders[1] %></span> -->
      </button>

      <select class="item-order" v-model="reversed">
        <option :value="false">Order from <% sorter.orders[0] %> to <% sorter.orders[1] %></option>
        <option :value="true">Order from <% sorter.orders[1] %> to <% sorter.orders[0] %></option>
      </select>

      <button @click="fetch">Refresh</button>
    </div>

    <table border="1">
      <tr>
        <th>Date</th>
        <th>User</th>
        <th>Content</th>
        <th>Favorites</th>
        <th>Retweets</th>
        <!-- <th><% sorter.display %></th> -->
        <th></th>
      </tr>
      <tr v-for="tweet in sortedTweets">
        <td class="date"><% tweet.created_at %></td>
        <td class="username"><a :href="'https://twitter.com/' + tweet.screen_name" target="_blank"><% tweet.name %></a></td>
        <td class="text">
          <p><% tweet.text %></p>
          <a v-for="media in tweet.media" class="thumb" :href=" media.media_url_https" target="_blank"><img :src="media.media_url_https + ':thumb'"></a>
        </td>
        <td class="fav"><% tweet.favorites %></td>
        <td class="retweet"><% tweet.retweets %></td>
        <!-- <td><% tweet[sorter.key] %></td> -->
        <td class="link"><a :href="'https://twitter.com/' + tweet.screen_name + '/status/' + tweet.tweet_id" target="_blank">&#8627;</a></td>
      </tr>
    </table>
  </div>
  <script src="/static/app.js"></script>
</body>

</html>

